.feed{
    flex: 0.5;
    border:1px solid var(--twitter-background);
    overflow-y: scroll;
}
.feed::-webkit-scrollbar{
    display: none;
}
.feed-header{
    border-bottom: 1px solid var(--twitter-background);
}
.feed-header >h2{
    padding:10px 20px;
    font-size: 1.2rem;
    font-weight: bolder;
}

.tweet-box-block{
    border-bottom: 1px solid var(--twitter-background);
    display: flex;
    flex-direction: column;
   padding: 10px 10px;
}

.tweet-box{
display: flex;
}
.tweet-input{
    flex: 1;
    margin-left: 1rem;
    border: none;
    outline: none;
    font-size: 1rem;
}
.tweet-input::placeholder{
    font-size: 1rem;
    /* padding-left: 1rem; */
}
.tweet-box-btn{
    margin-top:10px !important;
    margin-left: auto !important;
    background-color: var(--twitter-color) !important;
    color: #fff !important;
    border-radius:30px !important;
    text-transform: inherit !important;
}
.image-url{
    width: 90%;
    margin-left: auto;
    outline: none;
    margin-top: 10px;
padding: 10px 0;
border: none;
}
.bottom-section{
    border-top: 1px solid var(--twitter-background);
    display: flex;
    width: 92%;
    margin-left: auto;
}
.tweet-box-icons{
    display: flex;
    align-items: center;
}
.tweet-box-icon{
    color: var(--twitter-color);
    margin-right: 3px !important;
    font-size: 2.5rem !important;
    text-align: center;
   padding: 8px !important;
}
.tweet-box-icon:hover{
    cursor: pointer;
    background-color: var(--twitter-background);
    border-radius: 30px;
}