.feed{
    flex: 0.5;
    border:1px solid var(--twitter-background);
    overflow-y: scroll;
    height: 100vh;
}
.feed::-webkit-scrollbar{
    display: none;
}
.feed-header{
    display: flex;
    border-bottom: 1px solid var(--twitter-background);
}
.star{
    margin-top: 8px;
    margin-right: 10px;
    margin-left: auto;
    color: var(--twitter-color);
}
.feed-header >h2{
    padding:10px 20px;
    font-size: 1.2rem;
    font-weight: bolder;
}

.tweet-box-block{
    border-bottom: 1px solid var(--twitter-background);
    display: flex;
    flex-direction: column;
   padding: 10px 10px;
}

.tweet-box{
display: flex;

}
.avatar-image{
    width: 50px !important;
    height: 50px !important;
    cursor: pointer;
}
.tweet-input{
    width: 90%;
    margin-left: auto;
    border: none;
    outline: none;
    font-size: 1rem;
    line-height: 2rem;
}
.tweet-input::placeholder{
    font-size: 1.3rem;
}
.tweet-box-btn{
    margin-top:10px !important;
    margin-left: auto !important;
    background-color: var(--twitter-color) !important;
    color: #fff !important;
    border-radius:30px !important;
    text-transform: inherit !important;
    font-weight:bolder !important;
}
.image-url{
    width: 90%;
    margin-left: auto;
    outline: none;
    margin-top: 10px;
padding: 10px 0;
border: none;
}
.bottom-section{
    border-top: 1px solid var(--twitter-background);
    display: flex;
    width: 92%;
    margin-left: auto;
}
.tweet-box-icons{
    display: flex;
    align-items: center;
}
.tweet-box-icon{
    color: var(--twitter-color);
    margin-right: 3px !important;
    font-size: 2.5rem !important;
    text-align: center;
   padding: 8px !important;
}
.tweet-box-icon:hover{
    cursor: pointer;
    background-color: rgb(203, 229, 245);
    border-radius: 30px;
}
.home-avatar{
    display: none !important;
}
.footer-navbar-block{
    display: none;
}
.footer-navbar{
background-color: #fff;
    display: flex;
   width: 100%;
    align-items: center;
    height: 50px;
    z-index: 10;
    position: fixed;
}
.footer-navbar-icon{
    cursor: pointer;
    opacity: 0.7;
    border-radius: 30px;
    
}
.footer-navbar-icon:hover{
    
background-color: rgb(203, 229, 245);
}
.footer-icon-active{
    color: var(--twitter-color);
}
.footer-navbar-tweet-btn{
    display: none !important;
    position: absolute !important;
    bottom: 60px;
    right:30px;
    z-index: 10;
    background-color: var(--twitter-color);
}
@media screen and (max-width:1280px){
.feed{
    flex:0.6;
}
.footer-navbar-icon{
    margin: auto auto;
}

}
@media screen and (max-width:1007px){
    .feed{
        flex:0.8;
    }
}
@media screen and (max-width:750px){
    .feed{
        flex:0.9;
    }
}
@media screen and (max-width:502px){
    .feed{
        flex:1;
    }
    .home-avatar{
        display: block !important;
    }
    .feed-header{
      padding:0.5rem;
    }
    .tweet-box-block{
        display: none;
    }
    .footer-navbar-block{
       position: absolute;
       bottom: 50px;

        display: block;
    }
    .footer-navbar-tweet-btn{
        display: block !important;
    }
}