.post{
    padding: 10px;
    border-top: 1px solid var(--twitter-background);
    border-bottom: 1px solid var(--twitter-background);
}
.post:hover{
    cursor: pointer;
    background-color:rgb(245, 244, 244);
}
.post-header{
    align-items: start;
    display: flex;
    font-size: 70%;
}
.post-header >h2{
margin-left: 10px;
}
.post-header >h3{
    opacity: 0.5;
}
.verified-icon{
    color: var(--twitter-color) !important;
    font-size: 1rem  !important;
    margin-right: 5px;
}
.post-more-icon{
    margin-left: auto;
    font-size: 2rem !important;
    opacity: 0.5 !important;
    cursor: pointer;
}
.post-more-icon:hover{
    background-color: rgb(203, 229, 245);
    border-radius: 30px;
  
}
.actual-tweet{
    margin-top: -20px;
    margin-left: 3.1rem;
}
.actual-tweet >p{
    margin-bottom:1rem ;
}
.tweet-image{
    width: 100%;
    border-radius: 1rem;
}
.reaction-icons{
    display: flex;
    justify-content: center;
    
}
.reaction-icon{
    padding: 7px;
    opacity: 0.5 !important;
    margin: 0.5rem auto;
    font-size: 2rem !important;
}
.reaction-icon:hover{
    background-color: rgb(203, 229, 245);
    border-radius: 30px;
}