.widgets{
flex: 0.3;
padding:10px 20px;
overflow-y: scroll;
height: 100vh;
width: 100%;
}
.widgets::-webkit-scrollbar{
    display: none;  
}
.widgets-search-bar{
display: flex;
background-color:var(--twitter-background);
padding:10px 20px;
border-radius: 30px;
}
.widgets-search-bar > input{
    margin-left: 1rem;
    background-color: var(--twitter-background);
    border: none;
    outline: none;
    font-size: 1rem;
}
.widgets-search-bar > input::placeholder{
  
    font-size: 1rem;
}
.widgets-content{
    background-color: var(--twitter-background);
    margin: 10px 0;
    padding: 10px;
    border-radius: 15px;
}
.widgets-text{
    font-size: 1.2rem;
    padding-left:10px;
    margin-bottom: 20px;
}

@media screen and (max-width:1007px){
    .widgets{
        display: none;
        flex: 0;
    }
}
